USE [master]
GO
/****** Object:  Database [EmpTestDB]    Script Date: 12/02/2022 8:00:27 PM ******/
CREATE DATABASE [EmpTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpTestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmpTestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpTestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmpTestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpTestDB]
GO
/****** Object:  User [softvan]    Script Date: 12/02/2022 8:00:27 PM ******/
CREATE USER [softvan] FOR LOGIN [softvan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/02/2022 8:00:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Gender] [varchar](100) NULL,
	[Salary] [int] NULL,
	[Dept] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [Name], [Gender], [Salary], [Dept], [CreatedOn], [UpdatedOn], [IsDeleted]) VALUES (1, N'Pranaya', N'Male', 10000, N'IT', CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Gender], [Salary], [Dept], [CreatedOn], [UpdatedOn], [IsDeleted]) VALUES (2, N'Anurag', N'Male', 15000, N'HR', CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Gender], [Salary], [Dept], [CreatedOn], [UpdatedOn], [IsDeleted]) VALUES (3, N'Priyanka', N'Female', 22000, N'HR', CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
USE [master]
GO
